# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
VPN_IPSEC_PSK=psk
VPN_USER=user
VPN_PASSWORD=pass
#VPN_DNS_SRV1=192.168.32.2
TUNNEL_HOST=udp2raw
TUNNEL_PORT=1443
XTUN_PSK=xtun
XTUN_NET=10.222.0.4/24
